.content__wrap {
  width: $content-width;
  max-width: $content-max-width;
  margin: 0 auto;
}


// "Hero" header
.hero__wrapper {
  position: relative;
  height: 105px;
  width: 100%;
  overflow: hidden;

  border-bottom: 10px solid $color-secondary-1-2;
}

.hero__title {
  z-index: 2;
  position: absolute;
  left: 0;
  // right: 0;
  bottom: 10px;
  background-color: $color-secondary-1-4;

  margin-bottom: 0;

}

.hero__slope {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
  width: 150%;
  height: 200px;
  background-color: $color-secondary-1-4;

  transform-origin: left top;
  transform: rotate(3deg);

}


// # Basic coloring for text & backgrounds
html {
    background: url(/nukebg.jpg) no-repeat center center fixed;
    background-size: cover;
}
.row {
  background-color: $bg-transparent;
  padding: 20px 10px;

  overflow: hidden; // HOX can this cause problems? this class is from Skeleton
}

body { color: $white; }
input { color: $black; }


h1, h2, h3, h4, h5 {
  background-color: $color-secondary-1-0;
  border-left: 20px solid $color-secondary-1-4;
  padding-left: 10px;
}

p { text-align: justify; }
