// # Layout

html {
    background: url(/nukebg.jpg) no-repeat center center fixed;
    background-size: cover;
}

body { color: $white; }
input { color: $black; }

p {
  text-align: justify;
.row {
  background-color: $bg-transparent;
  padding: 20px 10px;
}

.row.clickable {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;

  &:hover {
    font-weight: 600;
  }
}


