/* Utility classes */

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.error {
  color: #af0222;
}

.pre {
  white-space: pre-wrap;
}

label.required:after {
  content: " *";
}
