/* Utility classes */
.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.error {
  color: #af0222;
}

.pre {
  white-space: pre-wrap;
}

/* Base styles */

p {
  text-align: justify;
}

/* Global notification service */

$flash-background:      #383738;
$flash-foreground:      #f5f5f5;
$flash-error-color:     #ff2114;
$flash-success-color:   #64ba2a;

.notification {
  margin: 0;
  position: absolute;
  bottom: 10%;
  left: 25%;
  margin-right: -50%;
  width: 50%;

  z-index: 2000;

  background-color:  $flash-background;

  color: $flash-foreground;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;

  padding: 20px;

  &.error {
    color: $flash-error-color;
  }

  &.success {
    color: $flash-success-color;
  }

  &.ng-hide {
    display: none!important;
  }
}
