<div id="main">
  <div class="row">
    <div class="six columns">
      <h5 translate>main.wat.title</h5>
      <p translate>main.wat.content</p>
    </div>

    <div class="six columns">
      <h5 translate>main.news.title</h5>
      <p>
        Juuh elicks. Saitti on vielä pahasti kesken, mutta rekisteröityminen on nyt auki niin saadaan lohkot tehtyä ja turnaus käyntiin.
      </p>
      <p>
        Homma toimii näin:
        <ol>
          <li>Kapteenit saavat sähköposteihinsa uniikin kutsukoodinsa</li>
          <li>Kapteeni käy rekisteröitymässä steamin avulla saitille ja syöttää kutsukoodinsa</li>
          <li>Kapteeni täyttää omat tietonsa ja tallentaa ne</li>
          <li>Kapteeni täyttää joukkueensa tiedot ja tallentaa ne</li>
          <li>Kapteeni jakaa joukkueensa pelaajille heidän kutsukoodinsa (näkyy asetukset sivulla)</li>
          <li>Muut pelaajat rekisteröityvät ja syöttävät koodinsa ja täyttävät tietonsa jne.</li>
          <li>Lohkot arvotaan jossain välissä ennen sunnuntain 7.6. kello kuutta</li>
        </ol>
      </p>
    </div>

<!--
    <div class="six columns">
      <h5 translate>main.news.title</h5>
      <div ng-repeat="newsheet in newssheets">
        <newssheet content="newsheet"></newssheet>
      </div>
    </div>
-->
  </div>
<!--
  <div class="row">
    <div class="six columns">
      <h5 translate>main.latest_matches.title</h5>
      <div ng-repeat="match in matches">
        <match content="match" template="mini"></match>
      </div>
    </div>

    <div class="six columns">
      <h5 translate>main.next_event.title</h5>
      <p></p>
    </div>
  </div>
-->
</div>
