<div class="hero__wrapper">
  <div class="hero__slope"></div>
  <h2 class="hero__title">{{ team.name }}</h2>
</div>

<div class="row">
  <div class="six columns">
    <table class="u-full-width">
      <tr>
        <th translate>team.tag</th>
        <td>{{ team.tag }}</td>
      </tr>

      <tr>
        <th translate>team.rank</th>
        <td>{{ team.rank }}</td>
      </tr>

      <tr>
        <th translate>global.description</th>
        <td class="pre">{{ team.description }}</td>
      </tr>
    </table>
  </div>

  <div class="six columns">
    <div ng-init="player = team.captain">
      <div ng-include="'player/player-mini.html'">
    </div>

    <div ng-repeat="player in team.members">
      <div ng-include="'player/player-mini.html'"></div>
    </div>

    <div ng-repeat="player in team.standins">
      <div ng-include="'player/player-mini.html'"></div>
    </div>
  </div>
</div>
