<div class="team edit" ng-if="account.isAdmin() || account.id === team.captainId">
  <div class="row">
    <div class="six columns">
      upload placeholder
    </div>
    <div class="six columns">
      <label for="tag" translate>team.tag</label>
      <input type="text" id="tag" minlength="1" maxlength="16" ng-model="team.tag" />
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <label for="name" translate>team.name</label>
      <input type="text" id="name" minlength="1" maxlength="255" ng-model="team.name" />
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <label for="description" translate>team.description</label>
      <textarea id="description" ng-model="team.description"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <label for="rank" translate>team.rank</label>
      <select id="rank" ng-model="team.rank" ng-options="rank.id as rank.fullName for rank in Ranks">
      </select>
    </div>
  </div>

  <div ng-if="account.isAdmin()">
    <div class="row">
      <div class="twelve columns">
        <label for="captain" translate>team.captain</label>
        <select id="captain" ng-model="team.captain" ng-options="user as user.nick for user in userList | orderBy: 'nick'">
        </select>
      </div>
    </div>

    <label translate>team.members</label>
    <list-select options="userList" selected-list="team.members" display="nick" max-selections="4"></list-select>

    <label translate>team.standins</label>
    <list-select options="userList" selected-list="team.standins" display="nick" max-selections="2"></list-select>
  </div>

  <div class="row">
    <div class="twelve columns">
      <ul>
        <li ng-repeat="invitationCode in team.invitationCodes">
          {{ invitationCode.code }}
          <span ng-switch="invitationCode.type">
            <span ng-switch-when="'standin'"><span>(<span translate>global.standin</span>)</span>
            <span ng-switch-when="'member'"><span>(<span translate>global.member</span>)</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
