// Based on http://codepen.io/aronduby/pen/qliuj

$playoff-tree-branch-color: #aaa;
$playoff-tree-branch-width: 1px;

.playoff-tree__wrapper {
  overflow: scroll;
}


// # Flex all the things!
section.playoff-tree {
  display: flex;
  flex-direction: row;

  // make the bracket scrollable in x-axis
  min-width: 800px;
  width: 100%;
  ul { width: 100%; }
}
.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  list-style: none;
  padding: 0;
}

.round .spacer {
  flex-grow: 1;
}

.round .spacer:first-child,
.round .spacer:last-child,
.round .spacer-first,
.round .spacer-last {
  flex-grow: .5;
}

.round .game-spacer {
  flex-grow: 1;
}

// # Special rules (hacks) for the loser's bracket
.playoff-tree__wrapper--losers {
  .round-1 .spacer:first-child { flex-grow: 2; }
  .round-1 .spacer { flex-grow: .5; }

  .round-2 .spacer:first-child { flex-grow: 1; }
  .round-2 .spacer { flex-grow: 4; }
  .round-2 .spacer:last-child { flex-grow: 12; }

  .round-3 .spacer:first-child { flex-grow: 6; }
  .round-3 .spacer { flex-grow: 10; }
  .round-3 .game-spacer { flex-grow: 10; }
}




// # Styling for items
li.game {
  padding-left: 20px;
  margin-bottom: 0;
}

li.game.winner {
  font-weight: bold;
}

li.game span {
  float: right;
  margin-right: 5px;
}

li.game-top {
  border-bottom: $playoff-tree-branch-width solid $playoff-tree-branch-color;
}

li.game-spacer {
  border-right: $playoff-tree-branch-width solid $playoff-tree-branch-color;
  min-height: 40px;
}

li.game-bottom {
  border-top: $playoff-tree-branch-width solid $playoff-tree-branch-color;
}
