.player-profile-edit {
  input, select, textarea {
    width: 100%;
  }
}


.player--mini {
  cursor: pointer;
  background-color: $black;
  margin-bottom: 10px;
  padding: 5px 10px;

  .label {
    background-color: $color-secondary-1-0;
    border-radius: 2px;
    padding: 0 5px;
    margin-left: 5px;
  }
}
