<div ng-controller="InvitationCodeController">

  <div class="newcodes__wrapper">
    <div class="row">
      <h5 translate>invitationCodes.newCodesTitle</h5>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="newCodesAmount" translate>invitationCodes.newCodesAmount</label>
        <input type="number" ng-model="amount" id="newCodesAmount" />
      </div>

      <div class="six columns u-full-width">
        <label for="newCodesType" translate>invitationCodes.newCodesType</label>
        <select ng-model="type" id="newCodesType"
          ng-options="type.name as type.name for type in InvitationTypes"></select>
      </div>
    </div>

    <div class="row u-full-width">
      <button ng-click="generateInvitationCodes()" translate>invitationCodes.generate</button>
    </div>

    <hr/>
  </div>

  <div class="row">
    <div class="four columns">
      <label for="codesSearchString" translate>invitationCodes.codesSearchString</label>
      <input type="text" ng-model="searchString" id="codesSearchString" />
    </div>

    <div class="four columns">
      <label for="redeemedCodesToggle" translate>invitationCodes.showRedeemed</label>
      <input type="checkbox" ng-model="showRedeemed" id="redeemedCodesToggle" />
    </div>

    <div class="four columns">
      <p>
        <span>{{ filteredCodes.length }}</span>&nbsp;
        <span translate>invitationCodes.codeAmountUnit</span>
      </p>
    </div>

  </div>

  <table class="u-full-width">
    <thead>
      <tr>
        <th translate>invitationCodes.code</th>
        <th translate>invitationCodes.role</th>
        <th translate>invitationCodes.usedBy</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="invitationCode in filteredCodes = (invitationCodes |
        filter: searchString |
        filter: filterRedeemed)">
        <td>{{ invitationCode.code }}</td>
        <td>{{ invitationCode.type }}</td>
        <td>{{ invitationCode.usedBy.nick }}</td>
        <td><i class="fa fa-minus-square pull-right pointer" ng-click="remove(invitationCode)"></i></td>
      </tr>
    </tbody>
  </table>
</div>
