@import 'navicon';

header {
  width: 100%;
}

.header {
  width: $content-width;
  margin: 0 auto;

  box-sizing: border-box;
  padding: 1rem;

  .title {
    text-transform: uppercase;
    .title-full { display: block; }
    .title-short { display: none; }
  }

  .navicon { display: none; }

  .user {
    margin-top: 1rem;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $navigation-foreground;
      font-size: 1.4rem;
      font-weight: 600;

      &:hover {
        color: $navigation-highlight;
      }

      &:visited {
        color: $navigation-foreground;
      }
    }

    .header-link { margin-left: 2rem; }
  }
}

.navigation {
  width: $content-width;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;


  .navigation-list li {
    list-style: none;
  }
}



.navigation-link, .header-link {
  cursor: pointer;

  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.1rem;
  color: $navigation-foreground;

  &:hover {
    color: $navigation-highlight;
  }
}


@media screen and (min-width: $mobile-menu-max-width) {
  nav {
    min-height: 220px; // to fix bug of navigation-dock directive
  }

  .navigation {
    .navigation-list {
      display: flex;
      justify-content: space-between;

      padding: 1rem 2rem 0 2rem;
      border-top: 1px solid $navigation-foreground;

      .navigation-item {
        display: inline;

        &.user {
          display: none;
        }
      }
    }

    &:after {
      content: '';
      display: block;
      margin: auto;
      height: 1px;
      width: 0px;
      background: transparent;
      transition: width .4s ease;
    }
  }

  .navigation {

    &.docked {
      width: 100%;

      display: block;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      background-color: $navigation-background;

      .navigation-list {
        border-top: 0px;
        margin: 1px auto;
      }

      &:after {
        width: 100%;
        background: $navigation-foreground;
      }
    }
  }
}

@media screen and (max-width: $mobile-menu-max-width) {
  .navigation {
    .navigation-list {
      display: none;
      width: 80%;

      &.open {
        display: block;
        position: fixed;
        top: $mobile-header-height + $mobile-navigation-item-padding;
        left: 0;
        right: 0;
        padding-top: $mobile-navigation-item-padding;
        height: $mobile-navigation-item-height;
        line-height: $mobile-navigation-item-height;
      }

      .navigation-item {
        border-bottom: 1px solid $navigation-foreground;
        background-color: $navigation-background;
        margin: 0;

        &.user {
          a {
            text-transform: uppercase;
            text-decoration: none;
            color: $navigation-foreground;

            &:hover {
              color: $navigation-highlight;
            }

            &:visited {
              color: $navigation-foreground;
            }
          }
        }
      }
    }

    .navigation-list {
      border-top: 0px;
      margin: 1px auto;
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    background-color: $navigation-background;


    &.mobile {
      border-bottom: 1px solid $navigation-foreground;
      height: $mobile-header-height;
    }

    .title {
      display: inline;

      .title-short {
        display: inline;
      }

      .title-full {
        display: none;
      }
    }

    .navicon {
      display: inline;
    }

    .user {
      display: none;
    }
  }

}
