@import 'navicon'; // icon used on mobile navigation

header { width: 100%; } // wrapper for header
.header { // actual header content
  background-color: $black;
  width: $content-width;
  margin: 0 auto;
  padding: 2rem 1rem 1rem 1rem;

  box-sizing: border-box;

  .navicon { display: none; }

  .user {
    margin-top: 1rem;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $navigation-foreground;
      font-size: 1.4rem;
      font-weight: 600;

      &:hover { color: $navigation-highlight; }
      &:visited { color: $navigation-foreground; }
    }

    .header-link { margin-left: 2rem; }
  }
}

// Typographic logo
.logo__wrap--full { position: relative; }
.logo__short {
  display: inline-block;
  line-height: 1;

  border-left: none;
  background-color: transparent;
  font-style: italic;
  font-weight: bold;
}

.logo__full--top,
.logo__full--bottom {
  position: absolute;
  left: 100px;

  display: inline-block;
  background-color: transparent;
  border-left: none;
  font-size: 20px;

  text-transform: uppercase;
}
.logo__full--top { top: 0; }
.logo__full--bottom { bottom: 0; }


.navigation {
  width: $content-width;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  z-index: 10;

  .navigation-list li {
    list-style: none;
  }
}

.navigation-link, .header-link {
  cursor: pointer;

  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.1rem;
  color: $navigation-foreground;

  &:hover { color: $navigation-highlight; }
}


@media screen and (min-width: $mobile-menu-max-width) {
  nav { min-height: 100px; } // to fix bug of navigation-dock directive
  .header.mobile { display: none; }

  .navigation {
    .navigation-list {
      display: flex;
      justify-content: space-between;

      padding: 1rem 2rem 0 2rem;
      border-top: 1px solid $navigation-foreground;

      .navigation-item {
        display: inline;

        &.user {
          display: none;
        }
      }
    }

    &:after {
      content: '';
      display: block;
      margin: auto;
      height: 1px;
      width: 0px;
      background: transparent;
      transition: width .4s ease;
    }

    &.docked {
      width: 100%;

      display: block;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      background-color: $navigation-background;

      .navigation-list {
        border-top: 0px;
        margin: 1px auto;
      }

      &:after {
        width: 100%;
        background: $navigation-foreground;
      }
    }
  }
}


@media screen and (max-width: $mobile-menu-max-width) {
  .logo__wrap--full { display: none; }
  .logo__short {
    line-height: 1.5;
    font-size: 25px;
  }

  .navigation {
    .navigation-list {
      display: none;
      width: 80%;

      &.open {
        display: block;
        position: fixed;
        top: $mobile-header-height + $mobile-navigation-item-padding;
        left: 0;
        right: 0;
        padding-top: $mobile-navigation-item-padding;
        height: $mobile-navigation-item-height;
        line-height: $mobile-navigation-item-height;
      }

      .navigation-item {
        border-bottom: 1px solid $navigation-foreground;
        background-color: $navigation-background;
        margin: 0;

        &.user {
          a {
            text-transform: uppercase;
            text-decoration: none;
            color: $navigation-foreground;

            &:hover { color: $navigation-highlight; }
            &:visited { color: $navigation-foreground; }
          }
        }
      }
    }

    .navigation-list {
      border-top: 0px;
      margin: 1px auto;
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    background-color: $navigation-background;


    &.mobile {
      border-bottom: 1px solid $navigation-foreground;
      height: $mobile-header-height;
    }


    .navicon { display: inline; }
    .user { display: none; }
  }
}
