<div class="row header">
  <div class="nine columns title">
    <h4 translate>global.title</h4>
  </div>
  <div class="three columns user">
    <div ng-hide="account">
      <a href class="pull-right" ng-click="account = true">
        <span class="fa fa-steam"></span> <span translate>global.login</span>
      </a>
    </div>

    <div ng-show="account">
      <a href class="pull-right logout" ng-click="account = false">
        <span class="fa fa-sign-out"></span>
      </a>

      <a href class="pull-right">
        <span class="fa fa-user"></span> <span translate>global.my_profile</span>
      </a>
    </div>
  </div>
</div>

<div class="navigation" navigation-dock>
  <div class="container">
    <ul class="navigation-list">
      <li class="navigation-item">
        <a href translate>global.navigation.main</a>
      </li>
      <li class="navigation-item">
        <a href translate>global.navigation.schedule</a>
      </li>
      <li class="navigation-item">
        <a href translate>global.navigation.teams</a>
      </li>
      <li class="navigation-item">
        <a href translate>global.navigation.groups</a>
      </li>
      <li class="navigation-item">
        <a href translate>global.navigation.brackets</a>
      </li>
      <li class="navigation-item">
        <a href translate>global.navigation.rules</a>
      </li>
    </ul>
  </div>
</div>
